.table {
    display: grid;
    grid-template-rows: 10vh auto;
    gap: 1.2rem;

    .table-header {
        background-color: #a1a1a1;
        border-radius: 0.8rem;
        display: flex;
        align-items: center;
        
        .row {
            flex: 1;
            text-transform: capitalize;
            font-weight: 700;
            // background-color: rgba(216, 216, 216, 1);
            border-radius: 0.5rem;
            border-top: none;
            &:hover {
                pointer-events: none;
            }

            div {
                font-size: 1.6rem;
                color: #fff;
            }


        }

    }

    .table-body {
        border-radius: 0.8rem;
        gap: 1rem;
        background-color: white;
        border: 0.1rem solid #dedede ;

        .row {
            .row-controllers {
                display: flex;
                gap: 0.5rem;
            }

        }
    }
}

.row{
    padding:1.2rem 2.4rem;
    display:flex;
    border-top: 0.1rem solid #dedede ;
    
    &:hover {
        // border-radius: 0.5rem;
        background-color: rgba(216, 216, 216, 0.5);
    }
}
.row div{
    flex: 1;
    text-align: start;
    align-self: center;
    color:#333333;
    font-size: 1.4rem;
  }
  .row div:first-child{
    width: 30px;
    flex: none;
  }
  .row div:last-child{
      width: 150px;
      flex: none;
      justify-content: center;
  }